<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Nuova nota sul contratto {{contratto.id}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;background:#eaeaea">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin:50px"> 
        <tr>
            <td style="padding: 10px 0 30px 0;">
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="700" >
                    <tr>
                        <td align="center" bgcolor="#fff" style="padding: 30px 0 15px 0; color: #48525b; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
                            <img src="cid:logo" alt="" width="248px" height="100px" style="display: block;" />
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 10px 30px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="padding: 20px 0 30px 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 20px;">
                                        <span style="color: #48525b;font-size: 12px;">È stata inserita una nuova nota relativa al contratto numero <b style="color:{{contratto.primary}}">{{contratto.id}}</b>: 
                                        </span><br>
                                        <blockquote style="background:#eaeaea; color: #666;font-size: 12px;padding:4px 8px"><q>{{contratto.nota}}</q></blockquote>
                                        <p style="color: #393d3e; font-size: 11px;">Per visualizzare lo storico delle note relative al contratto, clicca qui: <a href="{{contratto.url}}" style="color:{{contratto.primary}};text-decoration: underline;">{{contratto.url}}</a></p>
                                        <p style="color: #393d3e; font-size: 9px;margin-top:20px">Se hai ricevuto questa e-mail per errore, ignorala. <br>
                                            Il presente messaggio è generato automaticamente, ti preghiamo di non rispondere a questo messaggio.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>